.parent {
    width: 100vw;
    height: 50px;
    background-color: black;
}

.child {
    font-size: 50px;
    color: aqua;
    height: 20px;
    background-color: blue;
    @include md {
        color: red;
    }
}


<div className="logo-container"> <img src={Logo} height={25} width={35} alt="" /> </div>               header { display: flex; justify-content: space-between; width: 100vw; margin-top: 24px; .logo-container { padding: 32px 24px; margin-left: 200px; } }